<!DOCTYPE html>
<html>
<head>
	<title>About/Contact</title>
	<%- include ./navbar.ejs %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div id="description">
  <h1 id="aboutheader">Our Story</h1>
    <div class="container"> 
      <div id="describetext">
        <p>&emsp;This project began when three students in the Montana Code School envisioned an app that would allow Missoula community members to share their knowledge of local food sources in the natural environment. We hope this technology will help Missoulians connect with nature and share their enthusiasm for foraging.</p>
        <p>&emsp;Using this app, you’ll be able to post known foraging spots so that other community members can access them. If you'd like to keep your discovered locations semi-private we've provided the ability to do so, though we strongly encourage open sharing!</p>
        <br>
        <p>&emsp;Happy Foraging!  - Jere, Lars, and Charlie</p>
      </div>
    </div> 
</div>
<div class='navbar-static-bottom'>
  <div class='container-fluid'>
    <div class='row features' id="featurerow">
      <div class="col-md-4">
        <img id="mush" src="https://static-secure.guim.co.uk/sys-images/Guardian/About/General/2010/10/24/1287939445038/Wild-mushrooms-006.jpg">
      </div>
      <div class="col-md-4">
        <h1 class="centerText">Contact</h1>
        <div class="centerText" id="space">   
          <span class="fa-stack fa-lg" id="spread">
              <a href="https://github.com/superman76/forager" target="_blank">
              <i class="fa fa-github fa-3x"></i>
              </a>
          </span>
          <span class="fa-stack fa-lg" id="spread">
              <a href="mailto:foragemissoula@gmail.com">
              <i class="fa fa-envelope fa-3x"></i>
              </a>
          </span>
        </div>  
      </div>
      <div class="col-md-4">
        <img id="blue" src="http://2.bp.blogspot.com/_0-qm1l0uQa4/SK2l-CzejMI/AAAAAAAAAok/2shNb8w9mm4/s400/beries3.jpg">
      </div>    
    </div>
  </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
	   <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgbJrD_jtCPYZxXArPlJg68YYxFqEJ2QM
        &libraries=visualization&callback=initMap">
    </script>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/babel" src="reactMap.js"> </script>

</html>