<!DOCTYPE html>
<html>
<head>
		<%- include ./navbar.ejs %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="main.css">
	 	<style type="text/css">
      		html, body { 
      		height: 100%; 
      		margin: 0; 
      		padding: 0; }
      		#map { 	height: 600px;
					         width: 600px;
      		}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <h1 id="HeadText"> Forage Missoula: Know the Area Through Our Diverse Natural Foods</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="jumbotron" id="JumboBackground"> 
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="sizer1">
            <img id="huck" src="http://www.goodlifer.com/wp-content/uploads/2010/01/wildhuckleberry.jpg" alt="Huckleberries">
            <img id="morel" src="https://wildfoodism.files.wordpress.com/2015/04/morelmushroomwildfoodism.jpg" alt="Morel Mushrooms">
            <img id="rosemary" src="https://s-media-cache-ak0.pinimg.com/736x/c3/4b/c7/c34bc7714100a0273eec0bdcfc8da351.jpg" alt="Rosemary">
          </div>
        </div>
        <div class="item">
        <div class="sizer2">
          <img id="chantrelle" src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Chanterelle_Cantharellus_cibarius.jpg" alt="Chantrelles">
          <img id="chive" src="http://ian.umces.edu/imagelibrary/albums/userpics/10046/normal_iil-lholbrook-0003.JPG" alt="Chives">
          <img id="cactus" src="https://upload.wikimedia.org/wikipedia/en/f/f9/Prickly_pear_cactus_beed.jpg" alt="Prickly Pear">
        </div>
        </div>
        <div class="item">
        <div class="sizer3">
          <img id="onion"src="http://www.carolinacreations.biz/newsletter/wp-content/uploads/2011/11/wildonion.jpg" alt="Onions">
          <img id="apple" src="https://cookiecrumbstoliveby.files.wordpress.com/2013/09/dscn1922.jpg" alt="Apples">
          <img id="straw" src="https://natureexplorers.files.wordpress.com/2011/05/istock_wild-strawberries.jpg" alt="strawberry">
        </div>
        </div>
      </div>  
    </div>      
  <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>    
</div>
<div class="container-fluid">
  <div class="row" id="mapRow">
    <div class="col-md-3" id="ForageText">
      <h2>Explore Missoula's Foraging Opportunities</h2>
        <ul><h4>Please follow these simple guidelines and everyone will stay happy and healthy:</h4>
          <li><h5>Please don't take from private land without permission</h5></li>
          <li><h5>Don't post a location on private land without their permission</h5></li>
          <li><h5>We accept no responsibility for plant identification of any posts by users</h5></li>
        </ul>
    </div>
    <div class="col-md-6" id="map"></div>
    <div class="col-md-3" id="category">
      <h4>Filter By Categories</h4>
      <select class="form-control" id="categoryControl">
        <option>All</option>
        <option>Berries</option>
        <option>Fruits</option>
        <option>Fungi</option>
        <option>Herbs</option>
        <option>Root Vegetables</option>
      </select>
      <div class="form-group row">
        <input type="text" class="form-control" placeholder="Search" id="searchText">
      </div>
      <input type="submit" class="btn btn-default" id="searchButton">Search</input>
    </div>  
  </div>
</div>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgbJrD_jtCPYZxXArPlJg68YYxFqEJ2QM
        &libraries=visualization&callback=initMap">
    </script>
    <script src="mapstyles.js"></script>
    <script src="map.js"> </script>
</html>