<!Doctype html>
<html>
<head>
<%- include ./navbar.ejs %>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./main.css">
</head>
<body class="login-bg loaded">
  <div class="container">


    <div id="modal" class="well login-wrapper center-block fade-in">

        <div class="login-logoWrapper">
            <h2 style="text-align: center;">LOGIN</h2>
        </div>

          
          <form action="/login" method="POST" role="form" id="login">

          <div id="userInfo">
            <div class="form-group">
                <div class="input-group login-input-wrapper">
                  <span class="input-group-addon login-input" id="basic-addon1"><i class="fa fa-user"></i></span>
                  <input id="userName" type="text" class="form-control login-input" required="" placeholder="Username" name="email">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group login-input-wrapper">
                  <span class="input-group-addon login-input" id="basic-addon1"><i class="fa fa-lock"></i></span>
                  <input id="userPw" type="password" class="form-control login-input" required="" placeholder="Password" name="password">
                </div>
            </div>
          </div>
        <button type="submit" id="submitButton" class="btn btn-default btn-lg center-block login-submit">Sign In</button>
        </form>
      
    </div>


  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>