#container {
display: block;
height: 100px;
align-content: center;
}

#tree1, #tree2, #tree3, #tree4, #tree5, #tree6, #tree7, #tree8, #tree9, #tree10 {
  display: inline-flex;
  position: center;
  background-image: url('./images/tree.jpg');
  top: 55px;
  width: 80px;
  height: 91px;
  background-color: #000;
  border-left-width: 30px;
  border-right-width: 30px;

}

#line{
  border-top-color: #fff;
  border-top-width: 2px;
  border-style: solid;
  position: relative;
  top: -10px;
}
.navbar {
  font-family: 'Lora', serif;
  font-weight: 600 ;
  background-color: green;
}
.navbar a {
  color: black !important;
}
.navbar a:hover {
  color: #A52A2A !important;
}
#forageTitle {
    font-family: 'Lora', serif;
  font-weight: 600 ;
}
.container {
  margin: auto;
}
#questionbox {
  padding: 30px 25px 0 25px;
}
#HeadText {
  text-align: center;
  font-size: 32px;
  font-family: 'Lora', serif;
  font-weight: 600 ; 
}
#description {
  padding: 0 1px 0 1px;
  font-family: 'Lora', serif;
  font-weight: 600 ;
}
#describetext {
  text-align: left;
  font-size: 24px;
  margin-top: 20px;
  font-family: 'Lora', serif;
  font-weight: 400 ;
}
#questionform {
  margin: 0 20px 0 20px;
}
#forageForm legend {
  font-size: 24px;
}
#forageForm {
  margin: 35px auto 35px auto;
  width: 800px;
}
#ForageText {
  font-size: 24px !important;
  font-family: 'Trebuchet MS';
  width: 300px;
}
#searchBar {
  margin-left: 0;
  margin-right: 0;
}
.sizer1 img {
	max-height: 50%;
	max-width: 50%;
  background-color: #7FFF00;
}
.myMap > #map {
  height: 600px;
  width: 600px;
}

#huck {
  max-height: 37%;
  max-width: 37%;
}
#morel {
	max-height: 26%;
	max-width: 26%;
}
#rosemary {
	max-height: 30%;
	max-width: 30%;
}
#chantrelle {
	max-height: 29%;
	max-width: 29%;
}
#chive {
	max-height: 33%;
	max-width: 33%;
}
.sizer3 img{
	max-height: 33%;
	max-width: 33%;
  max-height: 32%;
  max-width: 32%;
}
#cactus {
  max-height: 29%;
  max-width: 29%;
}
.sizer3 img{
	max-height: 33%;
	max-width: 33%;
}
#onion {
  max-height: 33%;
  max-width: 33%;
}
#straw{
	max-height: 29%;
	max-width: 29%;
}
#apple{
	max-height: 29%;
	max-width: 29%;
}
#map { 
  height: 600px;
  width: 600px;
  margin: auto;
}
.login-bg {
    background-color: rgba(242,245,242,1);
}

.login-wrapper{
    border-radius: 5px;
    width: 45%;
    box-shadow: rgba(0,0,0,0.3) 5px 6px 10px;
    background-color: #EEE;
    border-color: #e5e5e5;
    margin-top: 5vh;
}

.login-logo {
    width: 80%;
}

.login-logoWrapper {
    background-color: #f9f9f9;
    margin: -20px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border: rgba(32,32,32,0.075) solid 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-clip-path: polygon(66% 90%, 100% 90%, 100% 0, 0 0, 0 90%, 33% 90%, 50% 100%);
    clip-path: polygon(66% 90%, 100% 90%, 100% 0, 0 0, 0 90%, 33% 90%, 50% 100%);
}

.login-input{
    box-shadow: rgba(32,32,32,0.4) 1.5px 1.5px 3px;
}

.login-active-left {
  border-right: none;
  border-color: #DDB476 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,180,118,0.6) !important;
}

.login-active-right {
  border-left: none;
  border-color: #DDB476 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(221,180,118,0.6) !important;
}

#userInfo:first-child{
  margin-top: 50px;
}

.login-input-wrapper{
    transition: all .26s;
    transform: scale(1);
}

.login-input-wrapper-scaled{
    transition: all .26s;
    transform: scale(1.05);
}

.login-input-wrapper:hover{
    transition: all .26s;
    transform: scale(1.05);
}

.login-submit {
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: rgba(32,32,32,.2) 2px 2px 2px;
    width: 95%;
    outline: none;
    border-color: transparent;
    transition: background-color .4s;
}

.login-submit:focus {
    outline: none;
    border: none;
}

.login-submit:hover {
    border-color: transparent;
    background-color: green;
    color: #f9f9f9 !important;
    transition: background-color color .4s;
}


.section-left, .section-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: #323232;
  z-index: 999;
}

.section-left {
  left: 0;
}

.section-right {
  right: 0;
}

#loader-wrapper {
  display: block;
    margin-right: auto;
    width: 500px;
    margin-left: auto;
}

#loader {
  margin-left: 140px;
  position: absolute;
  color: #fff;
  top: 20vh;
  z-index: 10000;
}

#loader div {
  display: inline-block;
  text-align: center;
  font-size: 230px;
  margin-right: 50px;
  width: 0px;
  margin-left: 10px;
}
#mapRow {
  align-content: center !important;
}
#catFilter {
  width: 200px;
}
#category {
  width: 285px;
  text-align: center;
  padding: 0 20px 20px 20px;
  font-size: 24px !important;
  margin-top: 0px;
}
@media only screen and (max-width: 600px) {
    #map {
        align-content: center;
        height: 320px !important;
        width: 320px !important;
        margin: auto;
    }
}
@media only screen and (max-width: 600px) {
    #ForageText {
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    #HeadText {
        text-align: center;
    }
}
.hideMe {
  display: none;
}
.dropdown-menu {
  min-width: 140px;
}
#jumbo {
  background-color: green;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 15px;
  width: 100%;
}
#bg {
  background-color: white;
}

#left {
  border-radius: 15px;
}
#right {
  border-radius: 15px;

}
#navTitle {
  font-size: 25px;
  font-weight: 300;
}
#spread {
  padding: 40px;
  margin-right: 40px;
}
#relative {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 107%;
  overflow: hidden;
}
.centerText {
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 600 ;
}
h1, h2, h3, h4, h5 { 
  font-family: 'Lora', serif;
  font-weight: 600 ; 
}
#searchButton:hover {
  font-family: 'Lora', serif;
  font-weight: 600 ;
  border-color: transparent;
  background-color: green;
  color: #f9f9f9 !important;
  transition: background-color color .4s;  
}
#searchText {
  font-family: 'Lora', serif;
  font-weight: 600 ;
  width: 180px; 
  align-content: center;
  margin-left: 15px;
}
#categoryControl {
  font-family: 'Lora', serif;
  font-weight: 600 ;
  width: 180px; 
  text-align: center;
}
.spacer50 {
  height: 16px;
}
#userName {
  font-family: 'Lora', serif;
  font-weight: 600 ; 
}
#userPw {
  font-family: 'Lora', serif;
  font-weight: 600 ; 
}
#submitButton {
  font-family: 'Lora', serif;
  font-weight: 600 ; 
}
#signIn {
  font-family: 'Lora', serif;
  font-weight: 600 ;
}
#submitContainer {
  height: 500px;
  width: 700px;
  font-family: 'Lora', serif;
  font-weight: 600 ;
}
#location {
    border-bottom-width: 0px;
}
#indexReg:hover {
    border-color: transparent;
    background-color: green;
    color: #f9f9f9 !important;
    transition: background-color color .4s;
}


